#services {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  background: #ffffff;
  width: 100%;
  margin-top: 340px;
}

.services__title {
  color: #000000;
  padding: 1rem;
  line-height: 1.5px;
}
#services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.services-container__item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr;
  border: 1px solid #d3a24b;
  border-radius: 5px;
  /* padding: 0 2rem 2rem 2rem; */
  /* padding: 2rem; */

  background: #f6f6f6;
}
.services-container__item__title {
  color: #000000;
  padding: 1rem;
  /* line-height: 1.5px; */
}
.services-container__item__text {
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  #services {
    margin-top: 500px;
  }
}
