#services {

  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;

  background: #ffffff;
  width: 100%;

}

.services__title {
  color: #2d3979;
  padding: 1rem;
  line-height: 1.5px;
}
#services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.services-container__item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr;
  border: 1px solid #4361ee;
  border-radius: 5px;
  /* padding: 0 2rem 2rem 2rem; */
  /* padding: 2rem; */
}
.services-container__item__title {
  color: #101c5e;
  padding: 1rem;
  /* line-height: 1.5px; */
}
.services-container__item__text {
  color: #2d3979;
  padding: 1rem;
}
