@import url("header.css");
@import url("./services.css");
@import url("https://fonts.cdnfonts.com/css/gerbera?styles=145971,145970,145966,145967,145969,145968,145965,145964,145963,145962");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100dvh;
  /*   display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%; */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 2rem;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  max-width: 2000px;
  margin: 0 auto;
}

.footer-column h3 {
  font-size: 1rem;
  margin-bottom: 0.5em;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
}
d .footer-bottom {
  text-align: end;
  margin-top: 2rem;
  font-size: 0.8rem;
  opacity: 0.7;
  white-space: nowrap;
}
.footer-column {
  min-width: 150px;
}
